<div class="container">
  <h2 class="title">¿Elige la cancha que desea?</h2>
  <select class="select" [(ngModel)]="selectedCourt" (change)="onCourtSelected()">
    <option *ngFor="let court of courts" [value]="court">{{ court }}</option>
  </select>
</div>

<div *ngIf="selectedCourt" class="calendar-container">
  <h2 class="title">Calendario de Disponibilidad</h2>
  <mat-calendar [selected]="selectedDate" (selectedChange)="onDateSelected($event)"></mat-calendar>

  <div *ngIf="selectedDate" class="details">
    <h3>Horarios disponibles para el {{ selectedDate | date:'longDate' }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Horario de inicio</th>
          <th>Horario de fin</th>
          <th>Precio de la cancha</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="courtEntries.length > 0; else noReservations">
          <tr *ngFor="let entry of courtEntries">
            <td>{{ entry.horarioInicio }}</td>
            <td>{{ entry.horarioFin }}</td>
            <td>{{ entry.precioCancha }}</td>
            <td [ngStyle]="{'color': entry.estado === 'Ocupado' ? 'red' : 'inherit', 'display': entry.estado === 'Ocupado' ? 'none' : 'table-cell'}">{{ entry.estado }}</td>
            <td>
              <button *ngIf="entry.estado !== 'Ocupado'" (click)="seleccionarHorario(entry)" [ngClass]="{ 'selected-button': entry.id === selectedEntry?.id }">
                {{ entry.id === selectedEntry?.id ? 'Cancelar' : 'Seleccionar' }}
              </button>
              <span *ngIf="entry.estado === 'Ocupado'" style="color: red;">Ocupado</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #noReservations>
    <tr>
      <td colspan="5" class="no-reservations-message" style="text-align: center; color: red;">
        No hay reservas disponibles para el {{ selectedDate | date:'longDate' }}
      </td>
    </tr>
  </ng-template>

  <div class="reserva-bebidas-container" *ngIf="horarioSeleccionado">
    <h3>¿Desea reservar bebidas?</h3>
    <label><input type="radio" [(ngModel)]="reservarBebidas" (change)="obtenerBebidas()" [value]="true"> Sí</label>
    <label><input type="radio" [(ngModel)]="reservarBebidas" (change)="obtenerBebidas()" [value]="false"> No</label>
    <button *ngIf="!reservarBebidas" (click)="guardar()" class="btn-guardar">Guardar</button>
    <div *ngIf="reservaGuardada" class="alert-success">
      Reserva guardada exitosamente.
    </div>

  </div>

</div>

<div *ngIf="bebidas.length > 0" class="bebidas-container">
  <h2 class="title">Bebidas Disponibles</h2>
  <div *ngFor="let bebida of bebidas" class="bebida-item">
    <img [src]="bebida.imagenBebida" alt="{{ bebida.bebidaId }}" class="bebida-image">
    <div class="bebida-details">
      <p>Nombre: {{ bebida.bebidaId }}</p>
      <p>Precio: {{ bebida.precioBebida }}</p>
      <p>Stock: {{ bebida.stockBebida }}</p>
      <button (click)="seleccionarBebida(bebida)">Seleccionar</button>
      <div *ngIf="bebidaSeleccionada && bebidaSeleccionada.bebidaId === bebida.bebidaId" class="contador-container">
        <p>Cantidad: {{ cantidad }}</p>
        <button (click)="incrementarContador()" [disabled]="cantidad >= bebida.stockBebida">+</button>
        <button (click)="decrementarContador()" [disabled]="cantidad <= 0">-</button>
      </div>
    </div>
  </div>
  <div *ngIf="bebidaSeleccionada" class="contador-container">
    <button (click)="guardarBebida()" class="btn btn-primary mx-auto d-block">Guardar</button>
    <div *ngIf="reservaGuardada2" class="alert-success">
      Reserva guardada exitosamente.
    </div>
  </div>


</div>
