.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar-container {
  text-align: center;
}

.calendar-container .mat-calendar {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.estado-ocupado {
  color: red;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.selected-button {
  background-color: red;
  color: white;
}

.reserva-bebidas-container {
  background-color: #f9fbe7; /* Color de fondo amarillo claro */
  color: #8bc34a; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  border: 1px solid #dcedc8; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  margin-top: 20px; /* Espaciado superior */
}

.reserva-bebidas-container h3 {
  margin-bottom: 10px; /* Espaciado inferior del título */
}

.reserva-bebidas-container label {
  display: block; /* Mostrar cada opción en una línea */
  margin-bottom: 8px; /* Espaciado inferior entre las opciones */
}

.btn-guardar {
  background-color: #8bc34a; /* Color de fondo verde */
  color: #fff; /* Color del texto */
  padding: 8px 15px; /* Espaciado interno */
  border: none; /* Quitar borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cursor apuntador */
  text-align: center; /* Alineación del texto */

}

.btn-guardar:hover {
  background-color: #689f38; /* Color de fondo verde oscuro al pasar el mouse */

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.bebida-item {
  margin-bottom: 20px;
  display: flex;
}

.bebida-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.bebida-details {
  display: flex;
  flex-direction: column;
}

.contador-container {
  margin-top: 10px;
}

.contador-container p {
  margin: 0;
}

.alert-success {
  background-color: #dff0d8; /* Color de fondo verde claro */
  color: #3c763d; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  border: 1px solid #d6e9c6; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  margin-top: 20px; /* Espaciado superior */
  text-align: center; /* Alineación del texto */
}

