<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo y marca -->
    <div class="d-flex align-items-center me-3">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/800px-Real_Madrid_CF.svg.png" alt="Logo" width="40" height="40" class="me-2">
      <a class="navbar-brand fs-4" href="#">Canchas Sintéticas Real Madrid</a>
    </div>
    <!-- Botón del toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Enlace "Inicio" con ajuste de posición -->
        <li class="nav-item with-margin">
          <a class="nav-link active fs-5 fw-bold" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <!-- Separador -->
        <li class="nav-item with-margin">
          <span class="nav-link" style="margin-left: 2%; margin-right: 2%;">|</span>
        </li>
        <!-- Enlace "Nosotros" -->
        <li class="nav-item with-margin">
          <a class="nav-link fs-5 fw-bold" href="#">Nosotros</a>
        </li>
        <!-- Separador -->
        <li class="nav-item with-margin">
          <span class="nav-link" style="margin-left: 2%; margin-right: 2%;">|</span>
        </li>
        <!-- Enlace "Contáctanos" -->
        <li class="nav-item with-margin">
          <a class="nav-link fs-5 fw-bold" href="#">Contáctanos</a>
        </li>
        <!-- Separador -->
        <li class="nav-item with-margin">
          <span class="nav-link" style="margin-left: 2%; margin-right: 2%;">|</span>
        </li>
        <!-- Enlace "Ingresa a tu perfil" -->
        <li class="nav-item with-margin dropdown">
          <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingresa a tu perfil
          </a>
          <!-- Menú desplegable -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/paginalogin">Login</a></li>
            <li><a class="dropdown-item" routerLink="/paginaclientes">Regístrate</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

